*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /* font */
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;

  /* item layout */
  min-height: 100vh;

  /* container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}